 .App {
     background: linear-gradient(to right, rgb(10, 39, 79), rgb(40, 109, 54));
     height: 100vh;
 }

 .layout {
     display: flex;
     width: 100%;
     flex-direction: column;
     flex-wrap: nowrap;
     height: 100vh;
     justify-content: space-evenly;
 }

 .container-title {
     width: 100%;
     display: flex;
     justify-content: center;
 }

 h1 {
     font-size: 0.8rem;
     font-weight: lighter;
 }

 .header {
     display: flex;
     justify-content: center;
 }

 .footer {
     width: 100%;
     display: flex;
     flex-direction: row;
     flex-wrap: nowrap;
     align-content: center;
     justify-content: center;
     align-items: center;

 }

 .footer-layout {
     width: 100%;
     display: flex;
     flex-direction: row;
     flex-wrap: nowrap;
     align-content: center;
     justify-content: center;
     align-items: center;
     padding-bottom: 10px;
 }

 .ateam,
 .point-team-a,
 .name-team-a {
     color: var(--green-color)
 }

 .bteam,
 .point-team-b,
 .name-team-b {
     color: var(--blue-color)
 }

 .tennis-ball {
     border: none;
     background-color: inherit;
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-wrap: nowrap;
     flex-direction: column;
 }

 .tennis-ball>svg {
     color: rgb(119, 178, 85);
 }

 .tennis-ball>svg:hover {
     transform: scale(1.5) rotate(20deg);
     transition-duration: 1s;
 }

 .tennis-ball svg {
     width: 30px;
     height: 30px;
 }

 span {
     color: white;
 }

 .ateam,
 .point-team-a,
 .name-team-a {
     color: var(--green-color)
 }

 .bteam,
 .point-team-b,
 .name-team-b {
     color: var(--blue-color)
 }

 .tennis-ball {
     border: none;
     background-color: inherit;
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-wrap: nowrap;
     flex-direction: column;
 }

 .tennis-ball>svg {
     color: rgb(119, 178, 85);
 }

 .tennis-ball>svg:hover {
     transform: scale(1.5) rotate(20deg);
     transition-duration: 1s;
 }

 .tennis-ball svg {
     width: 30px;
     height: 30px;

 }