.sets-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30%;
    justify-content: center;
}

.title-sets {
    color: white;
    text-align: center;
}


.marcador {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.team-sets {
    display: flex;
    flex-direction: row;
    gap: 40px;
}