.container-puntos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 24px;
    margin-bottom: 20px;
}

.titulo-puntos {
    text-align: center;
    font-size: 2rem;
}

.point-team-a:hover,
.point-team-b:hover {
    cursor: pointer;
    transform: scale(1.2);
}


.rotate-hor-center:hover {
    -webkit-animation: rotate-hor-center 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    animation: rotate-hor-center 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

@-webkit-keyframes rotate-hor-center {
    0% {
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
    }

    100% {
        -webkit-transform: rotateX(-360deg);
        transform: rotateX(-360deg);
    }
}

@keyframes rotate-hor-center {
    0% {
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
    }

    100% {
        -webkit-transform: rotateX(-360deg);
        transform: rotateX(-360deg);
    }
}